In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('taxi-zone-lookup.csv')
df.head()

   LocationID        Borough                     Zone
0           1            EWR           Newark Airport
1           2         Queens              Jamaica Bay
2           3          Bronx  Allerton/Pelham Gardens
3           4      Manhattan            Alphabet City
4           5  Staten Island            Arden Heights

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LocationID  265 non-null    int64
 1   Borough     265 non-null    object
 2   Zone        265 non-null    object
dtypes: int64(1), object(2)
memory usage: 6.3+ KB

In [3]:
df.isnull().sum()

LocationID    0
Borough       0
Zone          0
dtype: int64

No Nan: means no imputing !