In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('uber-raw-data-jun14.csv')
df.tail()

                 Date/Time      Lat      Lon    Base
663839  6/30/2014 22:40:00  40.7332 -73.9872  B02764
663840  6/30/2014 23:12:00  40.7905 -73.9796  B02764
663841  6/30/2014 23:13:00  40.7640 -73.9887  B02764
663842  6/30/2014 23:15:00  40.7262 -73.9944  B02764
663843  6/30/2014 23:35:00  40.7404 -73.9848  B02764

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663844 entries, 0 to 663843
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date/Time  663844 non-null  object
 1   Lat        663844 non-null  float64
 2   Lon        663844 non-null  float64
 3   Base       663844 non-null  object
dtypes: float64(2), object(2)
memory usage: 20.3+ MB