In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('uber-raw-data-janjune-15.csv')
df.head()

  Dispatching_base_num          Pickup_date Affiliated_base_num  locationID
0               B02617  2015-05-17 09:47:00              B02617         141
1               B02617  2015-05-17 09:47:00              B02617          65
2               B02617  2015-05-17 09:47:00              B02617         100
3               B02617  2015-05-17 09:47:00              B02774          80
4               B02617  2015-05-17 09:47:00              B02617          90

In [3]:
df.tail()

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
14270474,B02765,2015-05-08 15:43:00,B02765,186
14270475,B02765,2015-05-08 15:43:00,B02765,263
14270476,B02765,2015-05-08 15:43:00,B02765,90
14270477,B02765,2015-05-08 15:44:00,B01899,45
14270478,B02765,2015-05-08 15:44:00,B02682,144

In [4]:
df.isnull().sum()

Dispatching_base_num         0
Pickup_date                  0
Affiliated_base_num     162195
locationID                   0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14270479 entries, 0 to 14270478
Data columns (total 4 columns):
 #   Column                Dtype
---  ------                -----
 0   Dispatching_base_num  object
 1   Pickup_date           object
 2   Affiliated_base_num   object
 3   locationID            int64
dtypes: int64(1), object(3)
memory usage: 435.5+ MB

In [6]:
# 162195 Nan dans colonne "Affiliated_base_num" soit 1.14% de la colonne
# on peut supprimer les Nan sachant qu'elles sont cat√©gorielles on ne peut pas
# les remplacer par mean ou autre (et remplacer par "Unknown" ne serait pas utile ici)

In [7]:
#df=df.dropna(subset=["Affiliated_base_num"], inplace=True)
#df.head()

In [8]:
df_sample=df.sample(1000)
df_sample.head()

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
8516104,B02764,2015-01-02 15:22:29,B02764,107
1154095,B02682,2015-02-13 19:15:08,B02682,231
409597,B02682,2015-03-30 08:04:00,B02682,237
2450883,B02764,2015-04-10 10:02:00,B02764,140
13767350,B02765,2015-04-23 23:03:00,B02765,211

V√©rification que les colonnes 'Dispatching_base_num' et 'Affiliated_base_num' ne sont pas identiques car en apparence on dirait qu'elles le sont.
NB : A ce stade, c'est pas pour autant que je sais quoi en faire...

In [11]:
df_sample['Colonnes_Identiques'] = df['Dispatching_base_num'] == df['Affiliated_base_num']
print(df_sample)
comptage = df_sample['Colonnes_Identiques'].value_counts()
print(comptage)

         Dispatching_base_num          Pickup_date Affiliated_base_num  \
8516104                B02764  2015-01-02 15:22:29              B02764
1154095                B02682  2015-02-13 19:15:08              B02682
409597                 B02682  2015-03-30 08:04:00              B02682
2450883                B02764  2015-04-10 10:02:00              B02764
13767350               B02765  2015-04-23 23:03:00              B02765
...                       ...                  ...                 ...
5205812                B02764  2015-01-26 09:25:43              B02764
1501716                B02598  2015-02-08 23:21:48              B02598
10944900               B02682  2015-05-12 12:16:00              B02682
11613010               B02764  2015-03-22 03:14:00              B02764
11555073               B02682  2015-03-25 17:08:00              B00111

          locationID  Colonnes_Identiques
8516104          107                 True
1154095          231                 True
409597           237                 True
2450883          140                 True
13767350         211                 True
...              ...                  ...
5205812          262                 True
1501716           48                 True
10944900         255                 True
11613010         130                 True
11555073         143                False

[1000 rows x 5 columns]
True     743
False    257
Name: Colonnes_Identiques, dtype: int64

Non elles ne le sont pas : sur df_sample, 743 lignes de ces colonnes sont identiques contre 257 qui ne le sont pas.

In [9]:
elements_uniques = df['locationID'].unique()

# Pour voir si un √©l√©ment se r√©p√®te, vous pouvez √©galement utiliser value_counts()
occurrences = df['locationID'].value_counts()

# Affichez les √©l√©ments uniques
print("√âl√©ments uniques de 'locationID':")
print(elements_uniques)

# Affichez les occurrences de chaque √©l√©ment
print("\nOccurrences de chaque √©l√©ment de 'locationID':")
print(occurrences)

√âl√©ments uniques de 'locationID':
[141  65 100  80  90 228   7  74 249  22 263  61 229 164 237 142 188 224
 238 242  95 236 233 230 162 234 161  87 246 186  48 158 137 135 145 231
 125 132 170 239  41 148  79 113  68 147 255 256 181 138 166 174  62  75
 143  37  33  50  17 226  28  70 235 247 244  89 112 140  42  36  94 163
  20  88  64   4 153 114 225 209 144 146  69  97  29 129  43 107  85 179
  25  14 262  82 106 232 151 261 189 149 250  55 243 211  45  13 196 198
  76  49 116 216  39  66 169 223 227 131 182 197 108  10 184 203 168 123
 121 195 210  63  52 157  72  18 119 260  67  40  71 219 257 251 133  92
  56 258 192 220 213 193  54 248 200 127 126 175  32  21 152 171  24 218
 165   3 191  16 240 124  53 178  73  98 111  34 118 180 254  27  26 212
  51 222 202 259   8 245 134 155 130 190 102 241   6  81 159 252  91 185
 173 265  15 183  58 154  93 208 205   9 167 177  35  19  60 160  11 217
  78  77 215 101 150 136 139 207  47  12  83 122  57 194 214  38  96 128
  31 117 115  86  23  59   1 253 187 221  46 109   5 206 120 176 201  30
 156 172 204  99 105  84  44   2 264 110]

Occurrences de chaque √©l√©ment de 'locationID':
161    460732
231    420356
234    419045
79     407591
249    323989
        ...
105        12
99          9
2           8
264         7
110         2
Name: locationID, Length: 262, dtype: int64